<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attribute(); as attributeRef) {
      <div>
        <h2 data-cy="attributeDetailsHeading"><span>Attribute</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ attributeRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ attributeRef.name }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ attributeRef.type }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ attributeRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ attributeRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ attributeRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ attributeRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Attribute Group</span></dt>
          <dd>
            @if (attribute()!.attributeGroup) {
              <div>
                <a [routerLink]="['/attribute-group', attribute()!.attributeGroup?.id, 'view']">{{ attributeRef.attributeGroup?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/attribute', attributeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
