<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attributeValue(); as attributeValueRef) {
      <div>
        <h2 data-cy="attributeValueDetailsHeading"><span>Attribute Value</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ attributeValueRef.id }}</span>
          </dd>
          <dt><span>Value String</span></dt>
          <dd>
            <span>{{ attributeValueRef.valueString }}</span>
          </dd>
          <dt><span>Value Big Decimal</span></dt>
          <dd>
            <span>{{ attributeValueRef.valueBigDecimal }}</span>
          </dd>
          <dt><span>Value Boolean</span></dt>
          <dd>
            <span>{{ attributeValueRef.valueBoolean }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ attributeValueRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ attributeValueRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ attributeValueRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ attributeValueRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Property</span></dt>
          <dd>
            @if (attributeValue()!.property) {
              <div>
                <a [routerLink]="['/property', attributeValue()!.property?.id, 'view']">{{ attributeValueRef.property?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/attribute-value', attributeValueRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
