<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (agency(); as agencyRef) {
      <div>
        <h2 data-cy="agencyDetailsHeading"><span>Agency</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ agencyRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ agencyRef.name }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ agencyRef.email }}</span>
          </dd>
          <dt><span>Phone Number</span></dt>
          <dd>
            <span>{{ agencyRef.phoneNumber }}</span>
          </dd>
          <dt><span>Position</span></dt>
          <dd>
            <span>{{ agencyRef.position }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ agencyRef.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ agencyRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ agencyRef.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ agencyRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/agency', agencyRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
